@import "../abstracts/mixins";
@import "../abstracts/variables";

.main {
  padding-bottom: 80px;

  .container {
    border-radius: $base-border-radius;
    box-shadow: $base-box-shadow;
    overflow: hidden;

    h1 {
      background-color: #ffffff;
      font-size: 3rem;
      font-weight: bold;
      margin: 0;
      padding: 30px;
    }

    .featured-book {
      flex-direction: row;
      padding: 30px;
      position: relative;

      .recommended {
        background-color: $gold-color;
        border-radius: 0 0 0 10px;
        color: #ffffff;
        padding: 6px;
        position: absolute;
        right: 0;
        top: 0;
      }

      img {
        border-radius: $base-border-radius;
        box-shadow: $base-box-shadow;
      }
    }

    .book-info {
      margin-left: 30px;

      .title {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
      }

      .author {
        margin: 10px 0 20px 0;
      }
    }

    .top-voted {
      background-color: #ffffff;
      padding: 30px;

      h2 {
        font-size: 2rem;
        font-weight: bold;
        margin: 0 0 30px 0;
      }

      .books-list {
        flex-direction: row;
        flex-wrap: wrap;

        .book {
          background-color: $beige-color;
          border-radius: $base-border-radius;
          flex: 1;
          justify-content: flex-start;
          padding: 20px;
          position: relative;

          @include lg {
            flex-basis: 100%;
            margin-bottom: 30px;
          }

          &:not(:first-child) {
            margin-left: 30px;

            @include lg {
              margin: 0 0 30px 0;
            }
          }

          .position {
            align-items: center;
            border: 2px solid $gold-color;
            border-radius: 50%;
            color: $gold-color;
            display: flex;
            font-weight: bold;
            justify-content: center;
            height: 30px;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
          }

          img {
            border-radius: $base-border-radius;
            box-shadow: $base-box-shadow;
            margin: 0 auto 20px auto;
            width: 120px;
          }
        }
      }
    }
  }
}
